<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Jadwal Jaga</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <br>
    <div class="container-fluid">
        <h3 th:text="'Berhasil menambahkan jadwal jaga untuk Dokter ' + ${dokter.nama} + ' di ' + ${jadwalJagaModel.poli.nama} + ' pada hari ' + ${jadwalJaga.hari}"></h3>
        <br>
        <a th:href="@{/}"> Kembali ke Home</a>
    </div>
</div>
</body>
</html>