<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Cari Dokter Yang Paling Banyak Bertugas di Suatu Poli</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="container-fluid">
        <br>
        <h3> Cari Dokter Yang Paling Banyak Bertugas di Suatu Poli </h3>
        <br>
        <form th:action="@{/dokter/cari/tugas-terbanyak}" method="POST">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Poli</label>
                <div class="col-sm-3">
                    <select class="form-control container1" id="sel1" name="idPoli">
                        <option value="">-- Silahkan Pilih Poli --</option>
                        <option th:each="poli : ${poliList}" th:text="${poli.nama}" th:value="${poli.idPoli}"></option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary text-white" type="submit"> Submit </button>
        </form>
    </div>
</div>

<br>
<div class="container-fluid" th:if="${dokterModel != null}">
    <div class="container-fluid">
        <div style="border:1px solid lightgrey">
            <p class="p-3 bg-dark text-white" align="left"> Daftar Poli</p>
            <div class="px-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">NIP</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Tempat Lahir</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">Jenis Kelamin</th>
                        <th scope="col">Spesialisasi</th>
                    </tr>
                    </thead>
                    <tbody th:each="dokter, iterationStatus : ${dokterModel}">
                    <tr>
                        <th scope="row" th:text="${iterationStatus.count}"></th>
                        <td th:text="${dokter.nama}"></td>
                        <td th:text="${dokter.nip}"></td>
                        <td th:text="${dokter.nik}"></td>
                        <td th:text="${dokter.tempatLahir}"></td>
                        <td th:text="${#dates.format(dokter.tanggalLahir, 'yyyy-MM-dd')}"></td>
                        <td th:if="${dokter.jenisKelamin}==1">Laki-Laki</td>
                        <td th:if="${dokter.jenisKelamin}==2">Perempuan</td>
                        <td>
                            <ul th:each="spesialisasi, iterationStatus2 : ${dokter.listSpesialisasi}">
                                <li th:text="${spesialisasi.nama}"></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
    <!--            <div class="card" style="width: 25rem;">-->
    <!--                <h2 class="card-title bg-light p-3">Detail Dokter</h2>-->
    <!--                <div class="card-body" th:each="dokter, iterationStatus : ${dokterModel}">-->
    <!--                    <p th:text="'Nama: ' + ${dokter.nama}"></p>-->
    <!--                    <p th:text="'NIP: ' + ${dokter.nip}"></p>-->
    <!--                    <p th:text="'NIK: ' + ${dokter.nik}"></p>-->
    <!--                    <p th:text="'Tempat Lahir: ' + ${dokter.tempatLahir}"></p>-->
    <!--                    <p th:text="'Tanggal Lahir: ' + ${#dates.format(dokter.tanggalLahir, 'yyyy-MM-dd')}"></p>-->
    <!--                    <p th:if="${dokter.jenisKelamin}==1">Jenis Kelamin: Laki-Laki</p>-->
    <!--                    <p th:if="${dokter.jenisKelamin}==2">Jenis Kelamin: Perempuan</p>-->
    <!--                    <p>Spesialisasi:</p>-->
    <!--                    <ul th:each="spesialisasi, iterartionStatus : *{dokter.listSpesialisasi}">-->
    <!--                        <li th:text="${spesialisasi.nama}"></li>-->
    <!--                    </ul>-->
    <!--                </div>-->
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

</body>

</html>