<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dokter yang bertugas di Poli</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid" align="center">
    <br>
    <h3 th:text="'Sistem Informasi Dokter'"></h3>
    <br>
    <div class="container-fluid">
        <div style="border:1px solid lightgrey">
<!--            <p class="p-3 bg-dark text-white">Daftar Dokter yang Bertugas di Poli ...</p>-->
            <p th:text="'Daftar Dokter yang Bertugas di ' + ${poli.nama}" class="p-3 bg-dark text-white" align="left"></p>
            <div class="px-3">
                <table class="table" style="margin: 15px">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Dokter</th>
                            <th scope="col">Spesialisasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="jadwalJagaPoli, iterationStatus : *{listJadwalJagaPoli}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${jadwalJagaPoli.dokter.nama}"></td>
<!--                            <td th:text="${jadwalJagaPoli.dokter.listSpesialisasi[0].nama}"></td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>