<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Detail Dokter</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <br>
            <div class="card mt-6" style="width: 25rem;">
                <h2 class="card-title bg-light p-3">Detail Dokter</h2>
                <div class="card-body">
                    <p th:text="'Nama: ' + ${dokter.nama}"></p>
                    <p th:text="'NIP: ' + ${dokter.nip}"></p>
                    <p th:text="'NIK: ' + ${dokter.nik}"></p>
                    <p th:text="'Tempat Lahir: ' + ${dokter.tempatLahir}"></p>
                    <p th:text="'Tanggal Lahir: ' + ${#dates.format(dokter.tanggalLahir, 'yyyy-MM-dd')}"></p>
                    <p th:if="${dokter.jenisKelamin}==1">Jenis Kelamin: Laki-Laki</p>
                    <p th:if="${dokter.jenisKelamin}==2">Jenis Kelamin: Perempuan</p>
                    <p>Spesialisasi:</p>
                    <ul th:each="spesialisasi, iterartionStatus : *{dokter.listSpesialisasi}">
                        <li th:text="${spesialisasi.nama}"></li>
                    </ul>
                    <div class="text-right">
                        <form class="d-inline" th:action="@{/dokter/update/}+${dokter.idDokter}">
                            <button class="btn btn-sm bg-dark text-white">
                                Ubah
                            </button>
                        </form>
                        <form class="d-inline" th:action="@{/dokter/delete/}+${dokter.idDokter}">
                            <button class="btn btn-sm bg-danger text-white">
                                Hapus
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>