<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Detail Dokter</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <br>
            <div th:if="${success != null && success}" style="width: 25rem;">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <p class="mb-0" th:text=" ${poli.nama} + ' berhasil ditambahkan.'"></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="card mt-6" style="width: 25rem;">
                <h2 class="card-title bg-light p-3">Detail Poli</h2>
                <div class="card-body">
                    <p th:text="'ID: ' + ${poli.idPoli}"></p>
                    <p th:text="'Nama: ' + ${poli.nama}"></p>
                    <p th:text="'Lokasi: ' + ${poli.lokasi}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>