<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tambah Dokter</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h3> Tambah Dokter </h3>
    <div class="container-fluid">
        <div class="w-50">
            <form th:action="@{/dokter/tambah}" th:object="${dokter}" method="POST">
                <div class="row pt-1">
                    <label class="col-sm-4"> Nama </label>
                    <div class="col-sm-7">
                        <input class="form-control input-sm" type="text" name="nama" th:field="*{nama}"/>
                    </div>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> NIK </label>
                    <div class="col-sm-7">
                        <input class="form-control input-sm" type="text" name="nik" th:field="*{nik}"/>
                    </div>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> Tanggal Lahir</label>
                    <div class="col-sm-7">
                        <input class="form-control input-sm" type="date" name="tanggalLahir" th:field="*{tanggalLahir}"/>
                    </div>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> Tempat Lahir</label>
                    <div class="col-sm-7">
                        <input class="form-control input-sm" type="text" name="tempatLahir" th:field="*{tempatLahir}"/>
                    </div>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> Jenis Kelamin</label>
                    <div class="col-sm-7">
                        <select name="jenisKelamin" class="form-control input-sm" th:field="*{jenisKelamin}">
                            <option th:value="1">Laki-Laki</option>
                            <option th:value="2">Perempuan</option>
                        </select>
                    </div>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> Spesialisasi</label>
                    <div class="col-sm-7">
                        <tr th:each="spesialisasi, iterationStatus : *{listSpesialisasi}">
                            <select class="form-control" id="sel1" th:field="*{listSpesialisasi[__${iterationStatus.index}__]}">
                                <option value="">-- Silahkan Pilih Spesialisasi --</option>
                                <option th:each="spesialisasi : ${listSpesialisasi}" th:text="${spesialisasi.nama}" th:value="${spesialisasi.idSpesialisasi}"></option>
                            </select>
                        </tr>
                        <div class="col-sm-4">
                            <input type="submit" value="tambah" name="addRow" class="btn btn-link">
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary" type="submit"> Submit </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>