<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tambah Dokter</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h3> Tambah Dokter </h3>
    <div class="container-fluid">
        <div class="w-50">
            <form th:action="@{/dokter/update/{idDokter}(idDokter=${dokter.idDokter})}" th:object="${dokter}" method="POST">
                <div class="row pt-1">
                    <label class="col-sm-4"> Nama </label>
                    <input class="col-sm-7 form-control input-sm" type="text" th:value="${dokter.nama}" name="nama"/>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> NIK </label>
                    <input class="col-sm-7 form-control input-sm" type="text" th:value="${dokter.nik}" name="nik"/>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> Tanggal Lahir</label>
                    <input class="col-sm-7 form-control input-sm" type="date" th:value="${{dokter.tanggalLahir}}" name="tanggalLahir"/>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> Tempat Lahir</label>
                    <input class="col-sm-7 form-control input-sm" type="text" th:value="${dokter.tempatLahir}" name="tempatLahir"/>
                </div>
                <div class="row pt-1">
                    <label class="col-sm-4"> Jenis Kelamin</label>
                    <select name="jenisKelamin" class="col-sm-7 form-control input-sm" >
                        <option th:disabled="true" th:selected="true" th:if="${dokter.jenisKelamin}==1">Laki-Laki</option>
                        <option th:disabled="true" th:selected="true" th:if="${dokter.jenisKelamin}==2">Perempuan</option>
                        <option th:value="1">Laki-Laki</option>
                        <option th:value="2">Perempuan</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit"> Submit </button>
                </div>
            </form>
        </div>

    </div>
</div>

</body>

</html>